.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f2f2f2;
    padding: 10px;
  }
  
  .logo img {
    height: 100px;
    margin-left: 100px;
  }
  
  .nav-items {
    display: flex;
  }
  
  .nav-item {
    margin-left: 75px;
    text-decoration: none;
    color: #333;
    font-weight: bold;
  }